*{
	box-sizing: border-box;
}
*::before,
*::after{
	box-sizing: inherit;
}

.container{
	max-width: 1920px;
	height: 950px;
	background: url(/assets/image.svg);
}

.header{
	max-width: 1411px;
	height: 52px;
	margin: 25px 255px;
	
}